<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="width=device-width, initial-scale=1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, userscalabel=no" />
</head>

<body>


    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">

                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">SLACK FEATURES</span>

                        <h1 class="hero_title">One platform for your team and your work</h1>

                        <p class="hero_info">All the features of Slack work together so you can, too.</p>

                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>

                        <img src="/img/hero.png" alt="Hero" class="hero_image">
                    </div>

                </div>

                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb" class="brands_image">
                    <img src="/img/brands/intuit.png" alt="intuit" class="brands_image">
                    <img src="/img/brands/newscorp.png" alt="newscorp" class="brands_image">
                    <img src="/img/brands/onemedical.png" alt="onemedical" class="brands_image">
                    <img src="/img/brands/sonos.png" alt="sonos" class="brands_image">
                    <img src="/img/brands/target.png" alt="target" class="brands_image">
                    <img src="/img/brands/uber.png" alt="uber" class="brands_image">
                    <img src="/img/brands/va.png" alt="va" class="brands_image">
                </div>
            </div>
        </section>

        <section class="page_section page_section_light">
            <div class="page_content features_section">
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description">Stay on the same page and make decisions faster by bringing all of your
                    work communication into one place.</p>

                <div class="features_grid_4">

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/connect.svg');"></span>
                        <strong class="feat_card_title">Slack Connect</strong>
                        <p class="feat_card_description">Collaborate with teams at other
                            companies the same way you do
                            with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/channels.svg');"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/huddles.svg');"></span>
                        <strong class="feat_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/clips.svg');"></span>
                        <strong class="feat_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/canvas.svg');"></span>
                        <strong class="feat_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/messaging.svg');"></span>
                        <strong class="feat_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon" style="background-image: url('/svg/accessibility.svg');"></span>
                        <strong class="feat_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                </div>

            </div>
        </section>

        <section class="page_section page_section_light_2">

            <div class="page_content page_content_light_2">

                <div class="page_content_text">
                    <h2 class="page_content_title">What you need, when you need it</h2>

                    <p class="page_content_description">Spend less time shuffling tabs with a comprehensive message
                        archive and <br>
                        all your work tools at your fingertips.
                    </p>
                </div>
                <div class="features_grid_5">

                    <div class="feat_card_2">
                        <span class="icon" style="background-image: url('/svg/puzzle_2.svg');"></span>
                        <strong class="feat_card_title">Apps and Integrations</strong>
                        <p class="feat_card_description">Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.
                            with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card_2">
                        <span class="icon" style="background-image: url('/svg/light.svg');"></span>
                        <strong class="feat_card_title">Workflow Builder</strong>
                        <p class="feat_card_description">Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card_2">
                        <span class="icon" style="background-image: url('/svg/search.svg');"></span>
                        <strong class="feat_card_title">Search</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>

                    <div class="feat_card_2">
                        <span class="icon" style="background-image: url('/svg/file.svg');"></span>
                        <strong class="feat_card_title">File sharing</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                </div>

            </div>
        </section>

        <section class="page_section page_section_3">
            <div class="page_content page_content_3">
                <div class="page_content_3_about">
                    <img src="/img/delivery.png" alt="Delivery" class="page_content_3_background">
                    <div class="page_content_3_text">
                        <p class="page_content_3_phrase">“The thing that keeps us connected
                            the most is Slack. It’s a very
                            immediate and straightforward
                            method of communication, and
                            really the only channel that people
                            prefer and enjoy using.”
                        </p>
                        <img src="/img/delivery_2.png" alt="#" class="page_content_3_image">
                        <strong class="page_content_3_copyright">Will Sprunt, CIO, Deliveroo</strong>
                    </div>
                </div>
            </div>
        </section>

        <section class="page_section page_section_4">

            <div class="page_content page_content_4">

                <p class="page_content_4_title">Explore more about working in Slack</p>

                <div class="page_content_4_features">

                    <div class="page_content_4_feat_card">

                        <div class="feat_content">
                            <img src="/img/slack_1.png" alt="Image" class="page_content_4_image">

                            <div class="page_content_4_text_box">

                                <p class="page_content_4_textL">Slack Tutorials</p>

                                <h3 class="page_content_4_name">Slack 101</h3>

                            </div>

                        </div>


                        <p class="page_content_4_footer_text">Learn more</p>

                        <img src="/svg/arrow-right.svg" alt="Icon" class="page_content_4_footer_icon">

                    </div>

                    <div class="page_content_4_feat_card">

                        <div class="feat_content">

                            <img src="/img/slack_2.png" alt="Image" class="page_content_4_image">

                            <p class="page_content_4_textL">Slack vs. Email</p>

                            <h3 class="page_content_4_name">An easier, more organized way to work</h3>

                        </div>


                        <p class="page_content_4_footer_text">Learn more</p>

                        <img src="/svg/arrow-right.svg" alt="Icon" class="page_content_4_footer_icon">

                    </div>

                    <div class="page_content_4_feat_card">

                        <div class="feat_content">

                            <img src="/img/slack_3.png" alt="Image" class="page_content_4_image">

                            <p class="page_content_4_textL">Customer Stories</p>

                            <h3 class="page_content_4_name">How Fastly uses Slack Connect to wow enterprise customers
                            </h3>
                        </div>


                        <p class="page_content_4_footer_text">Learn more</p>

                        <img src="/svg/arrow-right.svg" alt="Icon" class="page_content_4_footer_icon">

                    </div>

                </div>

            </div>

        </section>

    </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>